<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static 'portal/css/login.css' %}>
</head>
<body>
    <div class="login" id="LoginForm">
        <form action="" method="post" class="form">
            {% csrf_token %}
            <h1>Login</h1>
            <input type="email" name="email" placeholder="Enter your Mail ID">
            <input type="password" name="password" placeholder="Enter your password">
            <button type="submit">LOGIN</button>
            <a href="">Forgot Password?</a>


        

        </form>
    </div>
    <script src="{% static 'portal/js/login.js' %}"></script>
</body>
</html>